
/* BASIC*/
* {
	margin: 0;
	padding: 0;
}
	
body {

    width: 660px;
    display: block;
    margin: 10px auto;
	
	background: #000;
	color: #fff;
}

/* LAYOUT */
	/* The width and height of "wrapper", "upper-left", "upper-right"
	and "bottom" needs to be changed in order to match your monitor's resolution */
#wrapper { 
    background: #F0F0F0;
    width: 850px;
    height: auto;
    margin: auto;
    padding: 1px;
    display: block;
    position: absolute;
    border-radius: 15px;
}

	#upper-left {
        background: #747171;
        width: 400px;
        height: 300px;
        display: block;
        float: left;
        border-radius: 15px;
		text-align: right;
	}
	
	#upper-right {
        background: #747171;
        width: 400px;
        height: 300px;
        display: block;
        float: left;
        border-radius: 15px; 
		text-align: right;
	}
	
	#lower-left {
        background: #747171;
        width: 400px;
        height: 300px;
        display: block;
        float: left;
        clear: left;
		text-align: right;
	}
	
	#lower-right {
        background: #747171;
        width: 400px;
        height: 300px;
        display: block;
        float: left;
		text-align: right;
	}
	
	#bottom {
		width: 550px;
		height: 100px;
		margin: 0 100px 0 100px;
		clear: both;
		background: url(bg.gif) repeat-x;
		text-align: center;
	}

/* TEXT */
h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 102px;
	font-weight: 300;
	line-height: 102px;
	}

h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	font-weight: 300;
	}
	
h2.smaller {
	font-size: 22px;
	letter-spacing: 1px;
	}	
	
h3 {
	font-family: 'Roboto', sans-serif;
	font-size: 42px;
	font-weight: 300;
	padding: 20px 0 0 0;
	}
	
p {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 300;
	}	
	
p.date {
	font-size: 12px;
	font-weight: 600;
	}